@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    color-scheme: dark light;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color-scheme: black;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    padding: 3px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    list-style: none;
}

header ul li {
    padding: 5px;
}

header ul li a {
    text-decoration: none;
}

main {
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.presentation .text p {
    font-size: 32px;
    font-family: "Sour Gummy", sans-serif;
}

.presentation .text p strong {
    color: aqua;
    font-size: 40px;
}

.presentation .image img {
    width: 200px;
    border-radius: 10%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: end;
}